<div class="wrap">
    {% include 'admin/settings/common/page-title.html.twig' %}

    {% include 'admin/settings/common/page-tabs.html.twig' %}

    <h3>{{ translations.post_production_header }}</h3>
    <div>
        <h4>{{ translations.setup_styles }}</h4>
        <p>{{ translations.setup_styles_description }}</p>
    </div>

    <div>
        <h4>{{ translations.grid_systems }}</h4>
        <p>{{ translations.grid_systems_description }}</p>
    </div>

    <div>
        <h4>{{ translations.pro }}</h4>
        <p>{{ translations.pro_description }}</p>
    </div>
</div>